@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400&display=swap");

* {
  font-family: "Poppins";
}

.container {
  max-width: 1500px !important;
}

.nav_logo {
  display: none;
}

.side_icon {
  display: none !important;
}

.sidebar_social_link_wrap {
  display: none;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\Navbar\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.roofx_logo {
  max-width: 159px;
  margin-left: 10px;
}

.header_nav {
  margin-right: auto !important;
}

.myNav_link {
  padding: 30px 22px !important;
  font-family: "Poppins";
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #0c1239 !important;
  transition: all 0.3s !important;
}

.myNav_link:hover {
  color: #fe5d14 !important;
}

.startBtn {
  color: white;
  font-size: 18px;
  background: #fe5d14;
  border: medium none;
  font-family: "poppins" !important;
  line-height: 1;
  padding: 5px 31px;
  border-radius: 4px;
  height: 60px;
}

.startBtn i {
  font-family: "FontAwesome";
  font-weight: 400;
  margin-left: 15px;
}

.offcanvas.offcanvas-end {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-toggler {
  border: none !important;
}

.bar_icon {
  color: #fe5d14;
  font-size: 30px;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\Home.Dv\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.home_banner {
  z-index: -2;
  position: absolute;
  left: 0;
  top: 0;
  width: 22.29%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.home_banner img {
  width: 100%;
  height: 950px;
}

.banner_wrpper {
  padding: 0 0 0 85px !important;
}

.home_banner1 {
  background-image: url("./images/banner_bg2.jpg");
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px 0 0 10px;
}

.home_banner1 {
  position: relative;
  padding: 100px 115px;
}

.home_banner1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5) 39.52%,
    rgba(0, 0, 0, 0) 55.54%
  );
  border-radius: 10px 0px 0px 10px;
}

.best_roofing_heading {
  padding-top: 50px;
}

.best_roofing_heading h1 {
  font-size: 56px;
  margin-bottom: 32px;
  color: white;
  position: sticky;
  z-index: 1;
  max-width: 600px;
  font-family: "Poppins";
  font-weight: 600;
}

.variations_heading h4 {
  font-size: 20px;
  margin-bottom: 47px;
  color: white;
  position: sticky;
  z-index: 1;
  max-width: 630px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.6;
}

.startBtn2 {
  color: white;
  font-size: 18px;
  background: #fe5d14;
  border: medium none;
  font-family: "poppins" !important;
  line-height: 1;
  padding: 21px 31px;
  border-radius: 4px;
  position: sticky;
  z-index: 1;
  text-transform: capitalize;
}

.startBtn2 i {
  font-family: "FontAwesome";
  font-weight: 400;
  margin-left: 15px;
}

.slider_wrpper {
  padding: 41.7px 0;
}

.slider_img {
  width: 130px !important;
  padding: 10px;
  filter: grayscale(100%);
  cursor: pointer;
}

.slider_img:hover {
  filter: brightness(100%);
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\Quality feedback\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.feedback_wrrper {
  padding: 120px 0 100px 0;
}

.quality_wrpper {
  padding: 0 50px;
  position: relative;
  margin-bottom: 30px;
}

.quality_wrpper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 150px;
  background: #fff3ed;
  border-radius: 10px;
  z-index: -1;
}

.quality_heading {
  padding: 45px 48px 50px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.08);
}

.quality_heading h2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 13px;
  font-family: "Poppins";
}

.quality_heading p {
  margin-bottom: 20px;
  font-family: "Poppins";
  color: #61657e;
  font-size: 14px;
  line-height: 1.72;
}

.quality_heading a {
  text-decoration: none;
  color: #61657e;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.read i {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  line-height: 1;
  margin-right: 17px;
  transition: all 0.3s ease-out 0s;
}

.read_wrpper {
  display: flex;
  justify-content: space-between;
}

.read_img_wrpper {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  font-size: 40px;
  background: #ffdac9;
  position: absolute;
  bottom: -50px;
  right: -38px;
  padding: 40px 40px;
  line-height: 0;
  transition: 0.3s linear;
}

.quality_heading:hover .read_img_wrpper {
  background: #fe5d14;
}

.read {
  transition: 0.3s linear;
}

.quality_heading:hover .read {
  color: #fe5d14;
}

.read_img {
  transition: 0.3s;
}

.quality_heading:hover .read_img {
  filter: brightness(0) saturate(100%) invert(100%);
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\About.co\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.about_co {
  padding-bottom: 120px;
}

.about_head h4 {
  font-size: 20px;
  display: block;
  margin-bottom: 14px;
  font-family: "Poppins";
  color: #fe5d14;
  font-weight: 400;
}

.about_head h1 {
  font-size: 38px;
  font-family: "Poppins";
  font-weight: 900;
  margin-bottom: 25px;
}

.about_wrpper p {
  font-size: 15px;
  color: #61657e;
  line-height: 1.62;
}

.reviews {
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
}

.reviews li {
  margin-bottom: 10px;
  line-height: 1.6;
  font-size: 17px;
}

.tick {
  border-radius: 50%;
  background: #fe5d14;
  color: white;
  margin-right: 15px;
  padding: 6px;
  font-size: 12px !important;
  height: 100%;
}

.about_img_wrpper {
  display: flex;
  justify-content: end;
  gap: 18px;
  align-items: center;
  position: relative;
}

.about_img {
  border-radius: 10px;
}

.about_experience {
  box-shadow: 6px 6px 50px 5px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 20px;
  width: 352px;
  display: flex;
  align-items: center;
  position: absolute;
  background: white;
  left: 70px;
  bottom: 87px;
}

.about_experience:nth-child(2) {
  bottom: -38px;
  left: 145px;
}

.about_experience .icon {
  width: 63px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fe5d14;
  border-radius: 5px;
  color: white;
  font-size: 30px;
  flex: 0 0 auto;
  margin-right: 20px;
}

.content h6 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 1.55;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\Our Services Areas\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.our_service {
  padding: 115px 0 90px;
  background: #f4f6ff;
}

.service_tittle {
  text-align: center;
  margin-bottom: 50px;
}

.service_tittle h4 {
  font-size: 20px;
  color: #fe5d14;
  margin-bottom: 14px;
  font-weight: 400;
}

.service_tittle h1 {
  font-size: 38px;
  font-weight: 700;
  margin: 0;
}

.service_wrap {
  padding: 50px 45px 50px;
  margin-bottom: 20px;
}

.service_icon {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fe5d14;
  color: #ffff;
  font-size: 40px;
  border-radius: 50px;
  box-shadow: 0px 0px 30px rgba(254, 93, 20, 0.4);
  margin-bottom: 55px;
}

.service_content h2 {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 0;
}

.service_overlay_wrap {
  padding: 50px 45px 50px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  position: relative;
}

.service_overlay_wrap::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    100.16deg,
    #fe5d14 1.96%,
    rgba(28, 28, 28, 0) 198.08%
  );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
}

.service_overlay {
  z-index: 1;
  position: inherit;
}

.service_overlay h2 {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 20px;
  color: #ffff;
}

.service_overlay p {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 1.62;
  color: #ffff;
}

.service_overlay .read_btn {
  font-weight: 400;
  font-size: 17px;
  color: white;
  display: inline-flex;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 0 12px;
  text-decoration: none;
  margin-bottom: 10px;
}

.service_overlay .read_btn i {
  margin-left: 5px;
}

.service_overlay .read_btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: #000;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  z-index: -1;
  transition: 0.3s linear;
}

.service_overlay .read_btn:hover::before {
  width: 100%;
}

.service_wrapper_principle {
  position: relative;
  width: 100%;
}

.service_wrap {
  display: block;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
}

.service_overlay_wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.service_overlay_wrap {
  opacity: 0;
  position: absolute;
}

.service_wrapper_principle:hover .service_overlay_wrap {
  height: 100%;
  opacity: 1;
}

.service_content {
  display: flex;
}

.number {
  margin-bottom: 0;
  position: absolute;
  right: 8px;
  top: 10px;
  background: linear-gradient(
    180deg,
    rgba(254, 93, 20, 0.14) 0%,
    rgba(254, 93, 20, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400 !important;
  font-size: 100px !important;
  line-height: 0.8;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\Explore Our Latest Projects\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.project_bg_banner {
  background-image: url(./images/project_bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 115px 0 95px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.latest_project_tittle {
  margin-bottom: 50px;
}

.latest_project_tittle h4 {
  font-size: 20px;
  color: #fe5d14;
  margin-bottom: 14px;
  line-height: 1.62;
  font-weight: 400;
}

.latest_project_tittle h2 {
  font-size: 38px;
  color: #ffff;
  margin: 0;
  line-height: 1.2;
  font-weight: 700;
}

.project_btn_wrpper {
  align-items: center;
  justify-content: end;
  display: flex;
  margin-bottom: 20px;
}

.project_item_wrpper {
  background: #161c49;
  border-radius: 10px;
  padding: 10px 50px;
  min-height: 180px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.project_v1_wrpper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project_item_icon {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50%;
  color: #fe5d14;
  cursor: pointer;
}

.project_v1 h4,
.project_v1_overlay h4 {
  font-weight: 400;
  font-size: 18px;
  color: #fe5d14;
  margin-bottom: 12px;
}

.project_v1 h2 {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 0;
  color: white;
}

.project_v1_overlay {
  background: #ffff;
  border-radius: 10px;
  padding: 10px 50px;
  min-height: 180px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project_v1_overlay p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.62;
  color: #61657e;
  max-width: 480px;
}

.project_wrap {
  position: relative;
}

.project_wrap:hover .project_item_overlay_wrpper {
  opacity: 1;
}

.project_item_overlay_wrpper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 10;
  transition: 0.3s;
}

.project_overlay_img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(19deg);
  right: 16%;
  z-index: 9;
  height: 0px;
  overflow: hidden;
  transition: 0.3s;
}

.project_overlay_img img {
  width: 100%;
  border-radius: 20px;
}

.project_wrap:hover .project_overlay_img {
  height: 322px;
}

.project_wrap:hover {
  z-index: 100;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\Professional_Team\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.professional_section {
  padding: 115px 0 90px;
}

.professional_tittle {
  text-align: center;
  margin-bottom: 60px;
}

.professional_tittle h3 {
  font-size: 20px;
  margin-bottom: 14px;
  color: #fe5d14;
  line-height: 1.62;
  font-weight: 400;
}

.professional_tittle h1 {
  font-size: 38px;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
  color: #000;
}

.team_img_wrap {
  border-radius: 10px;
  position: relative;
  margin-left: auto;
  width: 278px;
}

.team_img_wrap img {
  border-radius: 10px;
  height: 435px;
  object-fit: cover;
  width: 100%;
}

.team_wrpper {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.team_name {
  text-align: center;
  position: absolute;
  left: 15px;
  right: 0;
  bottom: 30px;
  background: #0f1437;
  border-radius: 10px;
  padding: 32px 20px;
  transition: 0.4s ease-in-out;
}

.team_name h2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 8px;
  line-height: 1.2;
  color: #ffff;
  cursor: pointer;
}

.team_name h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #ffff;
  margin: 0;
}

.team_wrpper:hover .team_name {
  background: #fe5d14;
}

.social_link_wrap {
  position: absolute;
  left: 0;
  top: 16px;
  transition: 0.4s ease-in-out;
  opacity: 0;
  z-index: -1;
}

.social_link_wrap .social_link_list {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #edf0ff;
  padding: 15px 9px;
  gap: 6px;
  border-radius: 5px 0 0 5px;
}

.social_link_list li {
  list-style: none;
}

.social_link_list li a {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffff;
  font-size: 14px;
  color: #61657e;
  border-radius: 50%;
  text-decoration: none;
}

.social_link_list li a i {
  font-family: "FontAwesome";
}

.team_wrpper:hover .social_link_wrap {
  left: -50px;
  opacity: 1;
}

.social_link_list li a:hover {
  color: #fe5d14;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\Odometer\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.odometer {
  padding-bottom: 120px;
}

.meter_bg {
  background: #f4f6ff;
  border-radius: 10px;
  padding: 40px 0 10px;
}

.meter_wrpper {
  margin-bottom: 30px;
  text-align: center;
}

.meter_icon {
  width: 80px;
  height: 80px;
  background: #fe5d14;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
  transition: 0.3s ease-in-out;
}

.meter_wrpper:hover .meter_icon {
  transform: translateY(5px);
}

.meter_data h2 {
  font-weight: 700;
  line-height: 0.8;
  font-size: 40px;
  margin-bottom: 8px;
  color: black;
}

.meter_tittle h4 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0;
  color: #61657e;
  line-height: 1.62;
  text-transform: capitalize;
}

.meter_wrpper:hover .meter_icon {
  transform: translateY(5px);
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\Our Testimonial\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.our_testimonial {
  padding: 120px 0;
  background: #f4f6ff;
}

.testimonial_img img {
  max-width: 100%;
  border-radius: 10px;
}

.test_tittle h4 {
  color: #fe5d14;
  font-size: 20px;
  margin-bottom: 14px;
  line-height: 1.62;
  font-weight: 400;
}

.test_paragraph p {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
  color: black;
  margin: 0;
}

.test_tittle_wrap {
  margin-bottom: 45px;
}

.quotes i {
  font-size: 60px;
  line-height: 1;
  color: #fe5d14;
  margin-bottom: 25px;
  margin-left: 2px;
  font-weight: 900;
}

.quotes_wrap {
  text-align: left;
}

.slider_paragraph p {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 32px;
  color: #61657e;
  line-height: 1.72;
}

.avtar_img {
  width: 80px;
  margin-right: 30px;
}

.avtar_img {
  max-width: 100%;
  border-radius: 50%;
}

.avtar_wrap {
  display: flex;
  align-items: center;
}

.avtar_name {
  text-align: justify;
}

.avtar_name h6 {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 25px;
  color: #000;
}

.avtar_name p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.62;
  color: #fe5d14;
  margin: 0;
}

/* testimonial-section */

.testimonial-section .owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 5px;
  border-radius: 500px;
  background: #fdddce;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: end !important;
}

.testimonial-section .owl-theme .owl-dots .owl-dot.active span {
  background: #fe5d14;
  width: 40px;
}

.testimonial-section .owl-theme .owl-dots .owl-dot.active:hover span {
  background: #fe5d14;
}

.testimonial-section .owl-theme .owl-dots .owl-dot:hover span {
  background: #fdddce;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\Our News\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.our_section {
  padding: 115px 0 90px;
}

.our_news_tittle {
  text-align: center;
  margin-bottom: 60px;
}

.our_news_tittle h3 {
  font-size: 20px;
  margin-bottom: 14px;
  color: #fe5d14;
  line-height: 1.62;
  font-weight: 400;
}

.our_news_tittle h1 {
  font-size: 38px;
  line-height: 1.2;
  font-weight: bold;
  margin: 0;
  color: #000;
}

.blog_img {
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.blog_img img {
  border-radius: 5px;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.blog_wrapper:hover img {
  transform: scale(1.1);
}

.admin_tag {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fe5d14;
  font-size: 15px !important;
  margin-right: 8px;
}

.admin_wrap {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 15px;
}

.admin,
.admin_date {
  display: flex;
  align-items: center;
}

.admin a,
.admin_date h4 {
  display: flex;
  align-items: center;
  font-size: 15px;
  text-decoration: none;
  color: #61657e;
  gap: 4px;
  margin: 0;
  font-weight: 400;
}

.admin_date i {
  font-size: 15px;
  margin-right: 8px;
  color: #fe5d14;
  font-weight: 700;
}

.build_worker {
  font-weight: 600;
  font-size: 20px;
  border-bottom: 1px solid #d8defc;
  line-height: 1.5;
  padding-bottom: 15px;
  margin-bottom: 17px;
  cursor: pointer;
}

.blog_data {
  padding: 50px 35px 30px;
  position: relative;
}

.read_tag_btn a {
  font-weight: 400;
  font-size: 18px;
  color: #61657e;
  text-decoration: none;
}

.tag a {
  text-decoration: none;
  color: #fe5d14;
  padding: 12px 20px;
  background: #ffefe7;
  transition: 0.3s;
  border-radius: 5px;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  left: 30px;
  top: -25px;
}

.tag:hover a {
  background: #fe5d14;
  color: #fff;
}

.blog_wrapper {
  box-shadow: 0px 16px 88px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\footer1\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.footer1 {
  background-image: url("./images/footer01.jpg");
  padding: 87px 0;
  width: 100%;
  min-height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.footer1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0f1437;
  opacity: 0.92;
  z-index: -1;
}

.contact_heading h4 {
  font-size: 20px;
  color: #ffff;
  margin-bottom: 14px;
  font-weight: 400;
  line-height: 1.62;
}

.contact_heading h2 {
  font-size: 38px;
  color: #ffff;
  margin: 0;
  font-weight: 700;
  line-height: 1.2;
}

.form_dv form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.form_group input {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  color: black;
  border: none;
  background: #ffff;
  border-radius: 5px;
  padding: 18px 20px;
  height: 58px;
}

.form_group input:focus {
  outline: none;
}

.submit_key {
  color: white;
  font-size: 18px;
  background: #fe5d14;
  border: medium none;
  font-family: "poppins" !important;
  line-height: 1;
  padding: 21px 31px;
  border-radius: 4px;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\main_footer\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.main_footer {
  background-image: url("./images/footer02.jpg");
  background-size: cover;
  background-position: center;
  padding: 115px 0 120px;
}

.subscribe_dv h2 {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 25px;
  color: #fff;
}

.subscribe_dv p {
  font-size: 15.3px;
  font-weight: 400;
  line-height: 1.62;
  margin-bottom: 30px;
  color: #b8b8b8;
}

.subscribe_dv h4 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 15px;
  color: #fff;
  line-height: 1.2;
}

.subscribe_dv input {
  width: 100%;
  border: none;
  background: white;
  border-radius: 5px;
  font-weight: 400;
  font-size: 13.5px;
  color: black;
  padding: 14px 145px 14px 20px;
  height: 50px;
}

.subscribe_dv input:focus {
  outline: none;
}

.subscribe_dv form {
  position: relative;
}

.subscribe_dv .read_tag_btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 11.9px 20px;
  border-radius: 0 4px 4px 0;
  background: #fe5d14;
  border: medium none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.service_dv_wrap {
  margin-left: 85px;
  margin-bottom: 40px;
}

.service_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.service_list li {
  display: flex;
  align-items: baseline;
  margin-bottom: 7px;
  line-height: 1.82;
  font-size: 15px;
}

.service_link_wrap {
  color: #b8b8b8;
  text-decoration: none;
  transition: all 0.3s ease-out 0s;
}

.service_link_wrap:hover {
  color: #fe5d14;
}

.service_list i {
  font-weight: 900;
}

.service_dv_wrap h2,
.quick_dv_wrap h2,
.instagram_dv_wrap h2 {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 25px;
  color: #ffff;
}

.service_link {
  font-size: 11px;
  letter-spacing: -2px;
  margin-right: 10px;
}

.quick_dv_wrap {
  margin-left: 20px;
  margin-bottom: 40px;
}

.instagram_dv_wrap {
  margin-left: 70px;
  margin-bottom: 40px;
}

.img_list_wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.img_list_wrap li {
  list-style: none;
}

.img_list_wrap li a {
  text-decoration: none;
}

.img_list_wrap li a img {
  border-radius: 5px;
}

.logo_footer {
  background: #131944;
  border-radius: 5px;
  padding: 24px 50px;
  margin-top: 20px;
}

.contact_icon {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0f1437;
  background: white;
  border-radius: 5px;
  font-size: 50px;
  margin-right: 40px;
}

.contact_wrap {
  display: flex;
  align-items: center;
  background: #fe5d14;
  border-radius: 5px;
  padding: 18px;
  margin-left: 15px;
  margin-right: 30px;
}

.contact_no h4 {
  font-weight: 400;
  font-size: 18px;
  color: white;
  line-height: 1;
  margin-bottom: 3px;
}

.contact_no a {
  font-weight: 600;
  font-size: 26px;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-out 0s;
}

.contact_no a:hover {
  color: #131944;
}

.social_link_footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.follow_link {
  margin-bottom: 0;
  color: white;
  font-weight: 600;
  font-size: 25px;
  margin-right: 35px;
}

.follow_link_list {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0;
  margin: 0;
}

.follow_link_list li {
  list-style: none;
}

.follow_link_list a {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: white;
  color: #fe5d14;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s ease-out 0s;
}

.follow_link_list a:hover {
  color: #131944;
}

.copyright_footer {
  background-color: #131944;
  padding: 22px 0;
}

.copyright_text p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.terms_list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.terms_list li {
  list-style: none;
  margin-right: 30px;
  padding-right: 30px;
  position: relative;
}

.terms_list li::before {
  content: "";
  position: absolute;
  right: 0;
  top: -5px;
  width: 1px;
  height: 34px;
  background: #2e2e2e;
}

.terms_list li:last-child {
  margin-right: 0;
  padding-right: 0;
}

.terms_list li:last-child::before {
  width: 0;
  height: 0;
}

.terms_list a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\latest_project_991\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.screen991_wrap {
  background: #161c49;
  border-radius: 10px;
  padding: 25px 35px;
  margin-bottom: 25px;
  display: none;
}

.screen991_img img {
  border-radius: 20px;
  width: 100%;
}

.screen991_img {
  margin-bottom: 30px;
}

.screen991_tittle h4 {
  font-weight: 400;
  font-size: 18px;
  color: #fe5d14;
  margin-bottom: 12px;
}

.screen991_tittle h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 600;
}

.screen991_tittle p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.62;
  color: #ffff;
  max-width: 480px;
}

.screen991_data_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\Media Quary\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-expand-xl .navbar-toggler {
    display: none !important;
  }
  .navbar-expand-xl .offcanvas {
    position: static;
    z-index: auto;
    flex-grow: 1;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
    background-color: transparent !important;
    border: 0 !important;
    transform: none !important;
    transition: none;
  }
  .navbar-expand-xl .navbar-nav {
    flex-direction: row;
  }
}

/* Min Width ================= 992px and Max Width 1199px */

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\media quary\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media (max-width: 1599px) {
}
/* Max Width ===== 1599px */

@media (max-width: 1500px) {
  .myNav_link {
    padding: 30px 15px !important;
  }

  .startBtn {
    padding: 19px 29px;
  }

  .variations_heading h4 {
    font-size: 19px;
  }

  .quality_heading {
    padding: 35px 25px 30px;
  }

  .read_img_wrpper {
    width: 130px;
    height: 130px;
    font-size: 30px;
    padding: 25px 30px;
  }

  .read i {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  .about_experience {
    left: 30px;
  }

  .about_experience:nth-child(2) {
    left: 135px;
  }

  .project_v1 h2 {
    font-size: 25px;
  }

  .project_overlay_img img {
    width: 470px;
  }

  .project_v1_overlay p {
    max-width: 420px;
  }

  .project_wrap:hover .project_overlay_img {
    height: 280px;
  }

  .team_img_wrap {
    width: 240px;
  }
  .team_img_wrap img {
    height: 370px;
  }

  .team_name {
    left: 6px;
    padding: 18px 20px;
  }

  .testimonial_img {
    margin-right: 30px;
  }

  .slider_paragraph p {
    font-size: 19px;
  }

  .service_dv_wrap {
    margin-left: 60px;
  }

  .instagram_dv_wrap,
  .quick_dv_wrap {
    margin-left: 0;
  }

  .img_list_wrap li a img {
    width: 100px;
  }

  .contact_icon {
    width: 60px;
    height: 60px;
    font-size: 35px;
    margin-right: 20px;
  }

  .contact_no a {
    font-size: 20px;
  }

  .contact_wrap {
    margin-right: 15px;
  }

  .home_banner1 {
    padding: 80px 80px;
  }

  .best_roofing_heading h1 {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .service_wrap {
    padding: 40px 35px 40px;
    min-height: 268px;
  }
}
/* Max Width ===== 1500px */

@media (max-width: 1399px) {
}
/* Max Width ===== 1399px */

@media (max-width: 1199.98px) {
  .container {
    max-width: 960px !important;
  }

  .startBtn {
    display: none;
  }

  .roofx_logo {
    margin-left: 0;
  }

  .home_banner1,
  .home_banner1::before {
    height: 510px;
  }

  .best_roofing_heading {
    padding-top: 20px;
  }

  .banner_wrpper {
    padding: 0 0 0 40px !important;
  }

  .best_roofing_heading h1 {
    font-size: 45px;
    margin-bottom: 25px;
  }

  .variations_heading h4 {
    margin-bottom: 30px;
    font-size: 20px;
  }

  .home_banner img {
    height: 748px;
  }

  .home_banner {
    width: 20.89%;
  }

  .slider_wrpper {
    padding: 36px 0;
    margin-right: 60px;
  }

  .quality_wrpper {
    padding: 0 20px;
  }

  .quality_heading {
    padding: 35px 20px 30px;
  }

  .quality_heading a {
    font-size: 16px;
  }

  .read_img_wrpper {
    width: 120px;
    height: 120px;
    font-size: 25px;
    padding: 24px 26px;
  }

  .read_img {
    width: 30px;
  }

  .readhome {
    width: 40px;
  }

  .about_img:nth-child(1) {
    width: 245px;
    height: 440px;
    object-fit: cover;
  }

  .about_img:nth-child(2) {
    width: 170px;
    object-fit: cover;
  }

  .about_experience:nth-child(2) {
    display: none;
  }

  .about_experience {
    width: 310px;
    left: -10px;
    bottom: 25px;
  }

  .content h6 {
    font-size: 16px;
  }

  .service_wrap {
    padding: 30px 20px 30px;
    min-height: 258px;
  }

  .service_overlay {
    position: relative;
  }

  .service_overlay_wrap {
    padding: 30px 20px 30px;
  }

  .project_wrap:hover .project_overlay_img {
    height: 230px;
    right: 14%;
  }

  .project_v1_overlay p {
    margin: 0;
    max-width: 331px;
  }

  .project_v1_overlay {
    padding: 20px 40px;
  }

  .project_overlay_img img {
    width: 385px;
  }

  .testimonial_img {
    margin-right: 0;
  }

  .contact_heading {
    text-align: center;
    margin-bottom: 40px;
  }

  .footer1 {
    padding: 60px 0;
  }

  .form_dv form {
    justify-content: center;
  }

  .subscribe_dv p {
    font-size: 15px;
  }

  .subscribe_dv {
    margin-bottom: 40px;
  }

  .subscribe_dv .read_tag_btn {
    padding: 11.3px 20px;
  }

  .contact_wrap {
    margin: 0;
    padding: 20px 13px;
  }

  .contact_icon {
    width: 55px;
    height: 48px;
    font-size: 25px;
    margin-right: 15px;
  }

  .contact_no a {
    font-size: 18px;
  }

  .follow_link {
    font-size: 22px;
    margin-right: 20px;
  }

  .service_icon {
    width: 80px;
    height: 80px;
    font-size: 30px;
    margin-bottom: 70px;
  }

  .service_icon img {
    max-width: 30px;
  }

  .service_content h2 {
    font-size: 24px;
  }

  .number {
    font-size: 80px !important;
  }
}
/* Max Width ===== 1199.98px */
@media (max-width: 1023px) {
}
/* Max Width ===== 1023px */
@media (max-width: 991px) {
  .icon-dropdown {
    height: 50px;
    width: 50px;
    background: orange;
  }

  .container {
    max-width: 720px !important;
  }

  .lead_nav {
    padding: 22px 0 !important;
  }

  .home_banner {
    width: 31%;
  }

  .roofing_wrpper {
    width: 100% !important;
    text-align: center;
  }

  .best_roofing_heading h1 {
    font-size: 42px;
    max-width: none;
  }

  .home_banner1 {
    padding: 80px 50px;
  }

  .variations_heading h4 {
    max-width: none;
  }

  .home_banner1,
  .home_banner1::before {
    height: 440px;
  }

  .home_banner img {
    height: 644px;
  }

  .slider_img {
    padding: 0;
  }

  .team_name {
    left: 30px;
  }

  .slider_paragraph p {
    font-size: 18.1px;
  }

  .testimonial_img {
    margin-bottom: 50px;
  }

  .logo {
    text-align: center;
    margin-bottom: 30px;
  }

  .follow_link_list a {
    width: 38px;
    height: 38px;
    font-size: 18px;
  }

  .follow_link_list {
    gap: 6px;
  }

  .logo_footer {
    padding: 24px 30px;
  }

  .follow_link {
    margin-right: 15px;
  }

  .project_btn_wrpper {
    justify-content: center;
    margin-bottom: 50px;
  }

  .latest_project_tittle {
    text-align: center;
  }

  .about_img_wrpper {
    margin-bottom: 60px;
  }

  .about_img:nth-child(1),
  .about_img:nth-child(2) {
    height: auto;
    width: auto;
  }

  .project_wrap {
    display: none;
  }

  .screen991_wrap {
    display: block;
  }

  .build_worker {
    font-size: 18px;
  }

  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\Sidebar\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

  .offcanvas {
    width: 305px !important;
  }

  .nav_logo_wrap {
    position: relative;
  }

  .nav_logo {
    width: 180px;
    padding: 25px 20px;
  }

  .nav_logo {
    position: absolute;
    top: -345px;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .nav_preet {
    position: absolute;
    top: 27px;
    right: 20px;
  }

  .bar_icon02 {
    color: #fe5d14;
    font-size: 24px;
  }

  .nav_logo {
    display: block;
  }

  .myNav_link {
    padding: 10px 20px !important;
    float: left;
  }

  .nav-link::after {
    display: none !important;
  }

  .nav_list {
    position: absolute;
    top: 100px;
    width: 100%;
  }

  .side_icon {
    width: 32px;
    height: 32px;
    text-align: center;
    margin: 6px 15px 6px 0px;
    display: block !important;
    background: #fe5d14;
    float: right;
    border-radius: 2px;
    padding: 4px 0px !important;
  }

  .side_icon i {
    font-size: 11px;
    color: white;
  }

  .dropdown ul {
    border: none;
  }

  .dropdown-item {
    font-weight: 600 !important;
    font-family: "Poppins" !important;
    font-size: 15px !important;
    padding: 10px 10px 10px 50px !important;
    border-top: 1px solid rgb(0 0 0 / 10%) !important;
  }

  .nav-item,
  .dropdown {
    border-top: 1px solid rgb(0 0 0 / 10%) !important;
  }

  .nav-link {
    font-size: 15px !important;
  }

  .sidebar_social_link_wrap {
    display: block;
  }

  .sidebar_social_link {
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 30px 20px 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid rgb(0 0 0 / 10%);
  }

  .sidebar_social_link li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #000;
    text-decoration: none;
  }

  .sidebar_social_link li a:hover {
    background-color: #fe5d14;
    border-radius: 5px;
    color: white;
  }
}
/* Max Width ===== 991px */
@media (max-width: 767px) {
  .container {
    max-width: 540px !important;
  }

  .banner_wrpper {
    padding: 0 0 0 15px !important;
  }

  .home_banner1 {
    padding: 60px 20px;
  }

  .best_roofing_heading h1 {
    font-size: 38px;
  }

  .best_roofing_heading {
    padding-top: 22px;
  }

  .home_banner {
    width: 38%;
  }

  .home_banner img {
    height: 624px;
  }

  .feedback_wrrper {
    padding: 100px 0 70px;
  }

  .slider_wrpper {
    padding: 22px 0;
  }

  .startBtn2 {
    padding: 20px 30px;
  }
  .quality_heading {
    padding: 35px 40px 30px;
  }

  .quality_wrpper {
    padding: 0 40px;
  }

  .about_img:nth-child(1) {
    width: 100%;
    height: 480px;
  }

  .about_experience,
  .about_img:nth-child(2) {
    display: none;
  }

  .about_co {
    padding: 0 0 100px;
  }

  .our_service {
    padding: 95px 0 70px;
  }

  .service_wrap {
    margin-bottom: 30px;
  }

  .screen991_img img {
    border-radius: 10px;
  }

  .screen991_data_wrap {
    display: unset;
  }

  .project_bg_banner {
    padding: 95px 0 75px;
  }

  .professional_section {
    padding: 95px 0 70px;
  }

  .professional_tittle h1 {
    font-size: 34px;
  }

  .team_img_wrap {
    width: 80%;
  }

  .team_img_wrap img {
    height: 410px;
  }

  .team_name {
    left: 0;
  }

  .odometer {
    padding-bottom: 100px;
  }

  .our_testimonial {
    padding: 95px 0 100px;
  }

  .test_tittle h4 {
    font-size: 18px;
  }

  .test_paragraph p {
    font-size: 34px;
  }

  .quotes i {
    margin-bottom: 15px;
  }

  .slider_paragraph p {
    font-size: 18.6px;
  }

  .owl-theme .owl-dots,
  .owl-theme .owl-nav {
    text-align: start !important;
  }

  .our_section {
    padding: 75px 0 70px;
  }

  .our_news_tittle h3 {
    font-size: 18px;
  }

  .our_news_tittle h1 {
    font-size: 34px;
  }

  .blog_img img {
    height: 400px;
    object-fit: cover;
  }

  .contact_heading h2 {
    font-size: 34px;
  }

  .service_dv_wrap {
    margin-left: 0;
  }

  .img_list_wrap li a img {
    width: 120px;
  }

  .contact_wrap {
    padding: 18px;
    margin-bottom: 30px;
  }

  .social_link_footer {
    justify-content: center;
  }

  .copyright_text {
    text-align: center;
    margin-bottom: 10px;
  }

  .terms_list {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 15px;
  }

  .terms_list li {
    margin: 0;
    padding: 0;
  }

  .terms_list li::before {
    display: none;
  }

  .about_head h1 {
    font-size: 32px;
  }

  .about_wrpper p {
    letter-spacing: -0.1px;
  }
}
/* Max Width ===== 767px */
@media (max-width: 575px) {
  .best_roofing_heading {
    padding-top: 10px;
  }

  .home_banner {
    width: 45%;
  }

  .navbar-toggler {
    padding: 0 !important;
  }

  .head_cont {
    max-width: 570px !important;
    margin: 0 !important;
  }

  .head_flcont {
    padding: 0 !important;
  }

  .slider_wrpper {
    margin-left: 270px !important;
    margin-right: 0px;
  }

  .slider_img {
    width: 120px !important;
  }

  .home_banner img {
    height: 620px;
    object-fit: cover;
  }

  .quality_wrpper {
    padding: 0 20px;
  }

  .quality_heading {
    padding: 35px 19px 30px;
  }

  .blog_img img {
    height: auto;
  }

  .form_group input {
    width: 240px;
  }

  .subscribe_dv p {
    text-align: justify;
    letter-spacing: -0.6px;
  }

  .contact_wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .contact_icon {
    width: 51px;
    height: 50px;
    margin: 0 auto 15px;
  }

  .contact_no a {
    font-size: 20px;
  }

  .follow_link {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .social_link_footer {
    flex-direction: column;
  }

  .social_link_wrap {
    left: -50px;
    opacity: 1;
    z-index: 1;
  }

  .social_link_list li a {
    color: #0f1437;
  }

  .about_img_wrpper {
    gap: 0;
  }
}
/* Max Width ===== 575px */
@media (max-width: 450px) {
  .home_banner1,
  .home_banner1::before {
    height: 465px;
  }

  .best_roofing_heading {
    padding-top: 0;
  }

  .home_banner img {
    height: 645px;
  }

  .slider_wrpper {
    margin-left: 220px !important;
  }

  .quality_heading {
    padding: 35px 25px 30px;
  }

  .quality_wrpper {
    padding: 0 30px;
  }

  .reviews li {
    display: flex;
    align-items: baseline;
  }

  .subscribe_dv p {
    text-align: unset;
    letter-spacing: unset;
  }
}
/* Max Width ===== 450px */

@media (max-width: 390px) {
  .home_banner1,
  .home_banner1::before {
    height: 500px;
  }

  .home_banner img {
    height: 680px;
  }

  .slider_wrpper {
    margin-left: 160px !important;
  }

  .screen991_tittle h2 {
    font-size: 20px;
  }

  .img_list_wrap li a img {
    width: 98px;
  }

  .subscribe_dv .read_tag_btn {
    padding: 11.7px 20px;
  }
}
/* Max Width ===== 390px */